<div class="container text-center">
  <h1>About Us</h1>
  <p>We are GovCon Books. We don't just deliver a great book that will help you 
  grow your GovCon business or market each month, we pull out the key points of 
  each book and give you ideas on how they apply to your industry - ultimately, 
  saving you time and helping you make more money.</p>
  <p>Additionally, we have a private Facebook Group to further discuss 
  each book and refine results.</p>
</div>